<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      Entrar
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item class="boxLogin" padding>
    <ion-label floating>PIN</ion-label>
    <ion-input type="password" [(ngModel)]="pin"></ion-input>
  </ion-item>
  <ion-item>
    <button ion-button block large color="secondary" (tap)="entrar()">Entrar</button>
  </ion-item>
</ion-content>
