<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      Minha Casa Minha Vida
    </ion-title>
    <ion-buttons end>
      <button style="background: transparent; color: white;" icon-only (click)="sair()"><ion-icon name="log-out"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- <p style='float: left;' *ngIf="latitude != ''">Lat. {{latitude}}</p>
  <p style='float: right;' *ngIf="longitude != ''">Lon. {{longitude}}</p>
  <hr style="clear: both;" *ngIf="longitude != '' || longitude != ''" /> -->
  <h4 style='float: left;' padding><ion-icon name="sunny" color="primary"></ion-icon> {{valorLDR}}</h4>
  <h4 style='float: right' padding><ion-icon name="car" color="danger"></ion-icon> {{portaoAberto}}</h4>
  <ion-list>
    <ion-item>
      <ion-label>LDR</ion-label>
      <ion-toggle color="dark" (tap)="action('ligamentoAutomatico')" name="ldr" [(ngModel)]="ligamentoAutomatico"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Luz da Garagem 1</ion-label>
      <ion-toggle (tap)="action('luz1')" color="secondary" name="luz1" [(ngModel)]="luzGaragem1" checked="false"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Luz da Garagem 2</ion-label>
      <ion-toggle (tap)="action('luz2')" color="secondary" name="luz2" [(ngModel)]="luzGaragem2" checked="false"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Relay 3</ion-label>
      <ion-toggle (tap)="action('luz3')" color="secondary" name="luz3" [(ngModel)]="luzGaragem3" checked="false"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Relay 4</ion-label>
      <ion-toggle (tap)="action('luz4')" color="secondary" name="luz4" [(ngModel)]="luzGaragem4" checked="false"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Relay 5</ion-label>
      <ion-toggle (tap)="action('luz5')" color="secondary" name="luz5" [(ngModel)]="luzGaragem5" checked="false"></ion-toggle>
    </ion-item>


    <!-- <button ion-item block large color="secondary" (click)="action('ligar6')">Alarme</button> -->

    <ion-item-sliding>
      <ion-item *ngIf="alarmeDisparando" color="danger">
        <h2>ALARME TOCANDO</h2>
      </ion-item>
      <ion-item *ngIf="!alarmeDisparando && !statusAlarme">
        <h2>Alarme <span *ngIf="!statusAlarme">Desligado</span></h2>
      </ion-item>
      <ion-item *ngIf="!alarmeDisparando && statusAlarme" color="secondary">
        <h2>Alarme <span *ngIf="statusAlarme">Ligado</span></h2>
      </ion-item>
      <ion-item-options side="right">
        <button (click)="action('ligar6')" ion-button color="primary">
          <ion-icon name="power"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <h2>Portão de Pedestres</h2>
      </ion-item>
      <ion-item-options side="right">
        <button (click)="action('ligar7')" ion-button color="primary">
          <ion-icon name="power"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <h2>Portão de Veículos</h2>
      </ion-item>
      <ion-item-options side="right">
        <button (click)="action('ligar8')" ion-button color="primary">
          <ion-icon name="power"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>


    <!-- <button ion-item block large color="secondary" (click)="action('ligar7')">Portão de pedestres</button> -->


    <!-- <button ion-item block large color="secondary" (click)="action('ligar8')">Portão de veículos</button> -->

</ion-content>
